<div class="container">
    <h3 class="d-flex justify-content-center"> Data Classification Web API App with Sql Server and Angular10 </h3>
    <h5 class="d-flex justify-content-center"> Personal Information Management </h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="bioinfo"
          class="m-1 btn btn-light btn-outline-primary" Button>BiographicalInfo</button>
        </li>

        <li class="nav-item">
          <button routerLink="contact"
          class="m-1 btn btn-light btn-outline-primary" Button>ContactInfo</button>
        </li>

        <li class="nav-item">
          <button routerLink="filenames"
          class="m-1 btn btn-light btn-outline-primary" Button>FileNames</button>
        </li>

        <li class="nav-item">
          <button routerLink="metadata"
          class="m-1 btn btn-light btn-outline-primary" Button>Metadata</button>
        </li>

        <li class="nav-item">
          <button routerLink="users"
          class="m-1 btn btn-light btn-outline-primary" Button>UsersInfo</button>
        </li>
      </ul>
    </nav>



<router-outlet></router-outlet>

</div>